# Source files
src/
__tests__/
*.test.ts
*.spec.ts

# Development files
.git/
.github/
.idea/
.vscode/
*.log
.eslintrc.js
.prettierrc.json
jest.config.js
tsconfig.json

# Build files
node_modules/
coverage/
dist/

# Documentation
docs/
*.md
!README.md

# Misc
.DS_Store
.env
.env.* 